.aside {
  padding-top: 20px;
  margin-bottom: 50px;
  flex: 1;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  
  .aside-wrapper {
    display: flex;
    flex-direction: column;
    .categories-list {
      flex-direction: column;
      gap: 20px;
      display: flex;
      border-bottom: 1px solid grey;
      padding-bottom: 20px;
      .categories-list-item {
        gap: 30px;
        div {
          width: 28px;
          height: 28px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .subscribed {
      padding-top: 20px;
      .subscribed-list {
        flex-direction: column;
        gap: 20px;
        display: flex;
        .subscribed-list-item {
          gap: 30px;
          div {
            width: 28px;
            height: 28px;
            img {
              width: 100%;
              height: 100%;
              border-radius: 50px;
            }
          }
        }
      }
      .subscribed-head-title {
        padding-bottom: 15px;
        color: grey;
        text-transform: uppercase;
      }
    }
  }
}
